img{
    width: 100%;
    background-size: cover;
    height: 35vh}
.col-3 img{
    height: 12rem;
}

section{
    font-family: 'Dancing Script', cursive;
}
.text{
   padding-top: 10rem;
   padding-left: 2rem;
}

.back{
    background-image: url(
        https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80
    ) ;
    height: 35rem;
    background-size: cover;
    width: 100%;
    background-position: center;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
div{
    padding-top: 1rem;
}