#myBtn{
    background-color: rgb(234, 198, 78);
    color: rgb(8, 8, 8);
    border-color: aliceblue;
    margin-top: 15rem;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 2rem;
    justify-content: space-evenly;
}
.btn    {
    text-align: center !important;
}
.col-3{padding: 5rem 6rem; 
align-items: center;
align-items: center;
border: 2px red solid;
margin: 2rem;}
.row{display: flex;
justify-content: space-around;}